$background:#fff;

$nav-bar-background:#91d281;

$logo-color:#fff;

$nav-text-color:#fff;

$nav-active-color:#519c3e;

$nav-border-color:#ffeb01;


$h1-font-size: 20px;

$border-normal-color:#eee;

$font-normal-color:#666;

$font-dark-color:#999;

$font-big-size:20px;

@mixin vertical-flex{
    display: flex;
    flex-direction: column;
}